html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container__custom {
  width: 90%;
  margin: 0 auto;
}

input[type="text"]:focus:not([readonly]) + label {
  color: #00aeef;
  top: 0;
  left: 6px;
  font-size: 12px;
  transition: all 0.5s ease-in-out;
}
